@media print
   {
    @page {
        size: A4;
    }
    body {
       font-size: 11pt;
       -webkit-print-color-adjust: exact;
       print-color-adjust: exact;
    }

    img.avatar {
        display: none;
    }
   .main-wrapper .time {
       float: right;
   }
    .sidebar-wrapper {
        position: static;
        float: right;
        width: 30%;
    }

    .remove-container.container-block {
       display: none;
    }

    footer {
       display: none;
    }

    .skillset .level-bar-inner {
    }

}
